:root {
  --primary-color: #4db6ac;
  --primary-color-light: #82e9de;
  --primary-color-dark: #00867d;

  --secondary-color: #ffa726;
  --secondary-color-light: #ffd95b;
  --secondary-color-dark: #c77800;

  --text-color: white;
}
