@import "color.scss";
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  :not(input) {
    user-select: none;
    -webkit-user-select: none;
  }
}
.allow-select {
  user-select: all;
  -webkit-user-select: all;
}
html {
  background-color: var(--primary-color-dark);
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  touch-action: manipulation;
  svg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}
#app {
  width: 100vw;
  // height: 100vh;
  height: var(--app-height);
  display: flex;
  flex-flow: column nowrap;
}
